
div {
    user-select: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

.pbox {
    height: 34px;
    width: 170px;
    font-weight: bold;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    border: solid 1px #fff;
    border-radius: 12px;
    user-select: none;
}

.addrsl {
    font-size: 24px;
}
.ioxp_pintype_box {
    width: 550px;
    height: 140px;
    border:1px solid #aaa;
    padding:5px;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
}

.ioxp_pin_box_a {
    width: 70px;
    height: 30px;
    border: 1px solid #666;
    padding: 0;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    background-color: #ff9faa;
}
.ioxp_pin_box_div {
    padding: 5px;
}

.ioxp_pin_box_b {
    width: 70px;
    height: 30px;
    border: 1px solid #666;
    padding: 0;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    background-color: #aa9fff;
}

body {
    font-family: Helvetica, 'メイリオ', Meiryo;
}
p {
    color: #fff;
    text-align: center;
}
li {
    list-style: none;
    border-top: solid 1px #ccc;
    background-color: #fff;
    cursor: pointer;
    border-top: none;
    user-select: none;
}
.sort-handle {
    width: 30px;
    text-align: center;
    cursor: n-resize;
}
  
.ui-selecting {
    background-color: #eee;
}

/* 選択したオブジェクト */
.ui-selected {
    background-color: #999;
    color: #fff;
    cursor: move;
    display: inline-block;
}

/* オブジェクト選択する時の枠 */
.ui-selectable-helper {
    position: absolute;
    border: solid 1px black;
    z-index: 20000;
}

/* 決定ボタン */
.exec-button {
    width: 130px;
    height: 36px;
    background-color: #2183c0;
    color: #eee;
    font-size: 16px;
    text-align: center;
    border: solid 1px #aaa;
    display: inline-block;
    cursor: pointer;
    line-height: 36px;
}

/* キャンセルボタン */
.cancel-button {
    width: 130px;
    height: 36px;
    background-color: #b4b4b4;
    color: #282828;
    font-size: 16px;
    text-align: center;
    border: solid 1px #aaa;
    display: inline-block;
    cursor: pointer;
    line-height: 36px;
}

/* 左メニュー用ボタン */
.leftmenu-button {
    width: 150px;
    height: 36px;
    background-color: #dddddd;
    color: #141414;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    line-height: 36px;
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
    margin: 2px;
}

.leftmenu-button:hover {
    background-color: #dbebfb;
}

/* 左メニュー用決定ボタン */
.leftmenu-exec-button {
    width: 150px;
    height: 36px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    line-height: 36px;
    font-size: 14px;
    padding: 0 10px;
    margin: 2px;
    background-color: #2183c0;
    color: #eee;
    text-align: center;
    border: solid 1px #aaa;
}


/* IOエキスパンダアイコン */
.icon_ioxp {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: solid 2px #bbb;
    border-radius: 12px;
    margin: 0 5px;
}

/* モーダルの枠 */
.azmodal {
    border-radius: 40px;
    overflow: hidden;
    border: solid 2px #444;
    box-shadow: 6px 6px 8px #888;
}

/* モーダルの背景 */
.remodal-overlay {
    background: rgba(43, 46, 56, 0.3);
}

/* オプション設定のステップ */
.option_step {
    width: 230px;
    height: 36px;
    background-color: #dddcdc;
    color: #646363;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    line-height: 36px;
    border-radius: 20px;   
}
/* オプション設定のステップ 完了 */
.step_ended {
    font-weight: normal;
    background-color: #bdd4ff;
    color: #555;
}
/* オプション設定のステップ 選択中 */
.step_selected {
    font-weight: bold;
    background-color: #9bb1ff;
    color: #000;
    border: solid 1px #666;
}

/* 下矢印 */
.triangle_down{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #aaa;
  }

.check_on {
    width: 17px;
    height: 17px;
    margin: 3px;
    padding: 0;
    background-color: #95f8b3;
    display: inline-block;
}
.check_off {
    width: 17px;
    height: 17px;
    margin: 3px;
    padding: 0;
    background-color: #aaaaaa;
    display: inline-block;
}

.layer_title {
    position: relative;
    top: 20px;
    left: 20px;
    width: 200px;
    min-height: 30px;
    background-color: #ededed;
    box-shadow: 5px 3px 0px 0 rgb(201 201 201);
    line-height: 30px;
    font-size: 13px;
}

.layer_title_name {
    padding: 0 10px;
    width: 200px;
    overflow: hidden;
}

.layer_title_menu {
    display: none;
}

.layer_title_menu ul {
    max-height: 230px;
    overflow-y: scroll;
}

.layer_title_menu li {
    background-color: #fbfbfb;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
}

.layer_title_menu li:hover {
    background-color: #e1efff;
}


.layer_list_box {
    width: 300px;
    height: 400px;
    border: solid 1px #333;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow-y: scroll;
}

.list_side_btn {
    width: 80px;
    height: 60px;
    margin: 10px 10px 0 10px;
    padding: 0;
    text-align:
    center;display:
    inline-block;
    border: solid 1px #646464;
    line-height: 60px;
    background-color: #cfcfcf;
    color: #282828;
    cursor: pointer;
}

.layer_list_box li {
    margin: 5px;
    background-color: #e1efff;
    padding: 0 14px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    text-align: left;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    border: solid 1px #646464;
}

.layer_input_box {
    font-size: 24px;
}
